LearningWCF.VS2005

/LearningWCF.zip
/LearningWCFMedia.zip
/LearningWCFVB.zip
/LearningWCFVS2008.zip

LearningWCF/Labs/*/CompletedLabs/*/*/bin/Debug/*
LearningWCF/Labs/*/CompletedLabs/*/*/bin/Release/*
LearningWCF/Labs/*/CompletedLabs/*/*/obj/Debug/*
LearningWCF/Labs/*/CompletedLabs/*/*/obj/Release/*
LearningWCF/Labs/*/CompletedLabs/*/_ReSharper.*

/LearningWCF/Labs/*/*/*/bin/Debug/*
/LearningWCF/Labs/*/*/*/bin/Release/*
/LearningWCF/Labs/*/*/*/obj/Debug/*
/LearningWCF/Labs/*/*/*/obj/Release/*
/LearningWCF/Labs/*/*/_ReSharper.*

MathiasLabs/*/*/*/bin/Debug/*
MathiasLabs/*/*/*/bin/Release/*
MathiasLabs/*/*/*/obj/Debug/*
MathiasLabs/*/*/*/obj/Release/*
MathiasLabs/*/_ReSharper.*

